@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #05cbf7;
  --primary-text-color: #05cbf7;
  --secondary-text-color: #6a7280;
  --tertiary-text-color: #141f1d;
  --background-color: #e3e6ea;
  --main-color: #fff;
  --shadow-color: #d1d5db;
}

body {
  /* avoid tab highlighting in smartphone of blue color */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.btn-base {
  @apply bg-[color:var(--color-primary)] text-white hover:bg-[color:var(--main-color)] hover:text-[color:var(--color-primary)] active:bg-[color:var(--color-primary)] active:text-white active:scale-95;
}

.btn-inverted {
  @apply bg-[color:var(--main-color)] text-[color:var(--color-primary)] hover:bg-[color:var(--color-primary)] hover:text-white active:bg-[color:var(--main-color)] active:text-[color:var(--color-primary)] active:scale-95;
}

button:disabled {
  background: #34d3fcd1;
  border-color: #34d3fcd1;
  cursor: not-allowed;
}

button:disabled:hover {
  background: #34d3fcd1;
  color: white;
}

.dark-mode {
  --tertiary-text-color: #f7f7f7;
  --background-color: #64748b;
  --main-color: #1f2123;
  --shadow-color: #334155;
}
